.pushing__span {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1A1A1F;
    opacity: 0.6;
    margin-bottom: 12px;
}