.ms-82 {
    margin-left: 82px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-31 {
    margin-bottom: 31px;
}

.mt-232 {
    margin-top: 232px;
}

.pt-86 {
    padding-top: 86px;
}

.pt-160 {
    padding-top: 160px;
}

.pt-169 {
    padding-top: 169px;
}

.pb-81 {
    padding-bottom: 81px;
}

.py-160 {
    padding-top: 160px;
    padding-bottom: 160px;
}

.p-48 {
    padding: 48px;
}