.page-h1__title {
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    line-height: 129%;
    color: #000000;
    margin: 0;
}

.page-section__title {
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    line-height: 56px;
}

.page-section__subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 175%;
    color: #1A1A1F;
}